.media {
    background-color: #F8EFEF; 
}
.media__container{
    display: flex;
    flex-direction: row;
}
.media__information {
    width: 490px;
    padding-right: 100px;
}
.media__title {
    margin-top: 25px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}
.media__subtitle {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
}
.media__icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.media-icons__icon {
    cursor: pointer;
    margin: 50px 20px;
}