
.content {
    font-family: 'Open Sans';
    display: flex;
    padding: 50px 0px 10px 0px;
}
.tabs-inset__ithem-active{
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #333333;
    font-size: 14px;
    padding: 10px 80px 12px 80px;
    border-color: #C6CBCD;
    border-right-style: solid;
    border-left-style: solid;
    border-top-style: solid; 
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabs-inset__item {  
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding: 10px 70px;
}
.tabs__information{
    border: solid;
    border-width: 1px;
    border-color: #C6CBCD; 
    display: flex;
    flex-direction: row; 
}
.tab__item {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #333333;
    padding-top: 20px;
}
.tabs__block-text {
    padding: 0px 30px;
}
.tabs__title {
    height: 124px;
    width:570px;
    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 40px;
    margin: 30px 0px 0px 100px;
}
.tabs__subtitle {
    width: 550px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 0px 100px;
}
.tabs__button {
    border: none;
    cursor: pointer;
    height: 58px;
    width: 270px;
    background-color: #EC7979;
    margin: 30px 0px 54px 100px ;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 18px; 
    text-align: center;
    color: #FFFFFF;
}
.tabs__block-picture {
    display: flex;
    margin: 0px;
}
